
@{
    ViewData["Title"] = "LoginRegister";
}

    <div class="form-group" style="display: inline-block;">
        <div class="container">
            <div class="row">
                <partial name="RegisterPart" />
                <partial name="LoginPart" />
                <!--register area end-->
            </div>
        </div>
    </div>