
@{
    ViewData["Title"] = "AboutMe";
}

<div class="form-group" style="text-align:center; padding:20px; margin:20px">
    <h2>سایت خرید و فروش بازی و برنامه ها</h2>
    <h2>برنامه نویس : نیما حسینی</h2>
</div>
